body {
  background-color: #F4ACB7;
}

#BoundingBox {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 70%;
  margin-top: 7vw;
  background: #FFE5D9 0% 0% no-repeat padding-box;
  border: 0.1vw solid #FFE5D9;
  border-radius: 4vw;
  opacity: 1;
}

#HomeScreen {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h1 {
  font-family: kumarone-regular;
  font-size: 4vw;
  color: #F4ACB7;
  padding-top: 4vw;
  margin-bottom: -1vw;
}
h2 {
  font-family: poppins-medium;
  font-size: 1.75vw;
  color: #9D8189;
  align-content: center;
  padding-bottom: -1vw;
}
select {
  font-size: 1vw;
  color: #9D8189;
  font-family: poppins-medium;
}
@font-face {
  font-family: kumarone-regular;
  src: url("KumarOne-Regular.woff") format("woff");
}
@font-face {
  font-family: poppins-medium;
  src: url("Poppins-Medium.woff") format("woff");
}

#ProblemScreen {
  visibility: hidden;
}
#BackToHome {
  /* 1.5vw used to be 25px */
  margin-left: 1.5vw;
  margin-top: 1.5vw;
}
#ProblemType {
  float: right;
  display: inline;
  padding-right: 1.5vw;
  font-size: 1.2vw;
  color: #F4ACB7;
  font-family: poppins-medium;
}
#Equation {
  margin: 0 auto;
  text-align: center;
  padding-top: 1vw;
  font-kerning: 30vw;
  color: #F4ACB7;
  font-family: poppins-medium;
}
#Answer {
  color: #F4ACB7;
  font-family: poppins-medium;
}
#ProblemScreen-Result {
  position: absolute;
  top: 55%;
  left: 45%;
  font-size: 1.8vw;
  font-family: poppins-medium;
}
#ProblemScreen-Score {
  position: absolute;
  bottom: 1.5vw;
  left: 1.5vw;
  font-size: 1.2vw;
  color: #95B1A0;
  font-family: poppins-medium;
}
#ProblemScreen-Streak {
  position: absolute;
  bottom: 1.5vw;
  margin: 0 0 0 47%;
  font-size: 1.2vw;
  color: #9D8189;
  font-family: poppins-medium;
}
#ProblemScreen-ButtonsDiv {
  position: absolute;
  bottom: 1.5vw;
  right: 1.5vw;
}
button {
  font-size: 1.2vw;
  color: #9D8189;
  font-family: poppins-medium;
  display: inline-block;
  background-color: #D8E2DC;
  border-radius: 10px;
  border-color:#D8E2DC;
}
#Squeek {
  position: absolute;
  height:15.3vw;
  width:12vw;
  right:2.5vw;
  bottom:1vw;
}
/* New code from w3schools */
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  left:89vw;
  bottom:7.75vw;
  font-size: 5vw;
  color:transparent;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 12vw;
  background-color:#FFE5D9;
  color: #9D8189;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  font-size: 12pt;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}