body {
  background-color: #f4acb7;
}

#BoundingBox {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 70%;
  margin-top: 7vw;
  background: #ffe5d9 0% 0% no-repeat padding-box;
  border: 0.1vw solid #ffe5d9;
  border-radius: 4vw;
  opacity: 1;
}

#HomeScreen {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h1 {
  font-family: kumarone-regular;
  font-size: 4vw;
  color: #f4acb7;
  padding-top: 4vw;
  margin-bottom: -1vw;
}
h2 {
  font-family: poppins-medium;
  font-size: 1.75vw;
  color: #9d8189;
  align-content: center;
  padding-bottom: -1vw;
}
select {
  font-size: 1vw;
  color: #9d8189;
  font-family: poppins-medium;
}
@font-face {
  font-family: kumarone-regular;
  src: url("KumarOne-Regular.woff") format("woff");
}
@font-face {
  font-family: poppins-medium;
  src: url("Poppins-Medium.woff") format("woff");
}

#ProblemScreen {
  visibility: hidden;
}
#BackToHome {
  /* 1.5vw used to be 25px */
  margin-left: 1.5vw;
  margin-top: 1.5vw;
}
#ProblemType {
  float: right;
  display: inline;
  padding-right: 1.5vw;
  font-size: 1.2vw;
  color: #f4acb7;
  font-family: poppins-medium;
}
#Equation {
  margin: 0 auto 0 auto;
  text-align: center;
  padding: 1vw 0 0 0;
  font-kerning: 30vw;
  color: #f4acb7;
  font-family: poppins-medium;
}
#Answer {
  color: #f4acb7;
  font-family: poppins-medium;
}
#ProblemScreen-Result {
  margin: 5vw;
  padding: 0;
  text-align: center;
  font-size: 1.8vw;
  font-family: poppins-medium;
}
#ProblemScreen-Score {
  position: absolute;
  bottom: 1.5vw;
  left: 1.5vw;
  font-size: 1.2vw;
  color: #95b1a0;
  font-family: poppins-medium;
}
#ProblemScreen-Streak {
  position: absolute;
  bottom: 1.5vw;
  margin: 0 0 0 47%;
  font-size: 1.2vw;
  color: #9d8189;
  font-family: poppins-medium;
}
#ProblemScreen-ButtonsDiv {
  position: absolute;
  bottom: 1.5vw;
  right: 1.5vw;
}
button {
  font-size: 1.2vw;
  color: #9d8189;
  font-family: poppins-medium;
  display: inline-block;
  background-color: #d8e2dc;
  border-radius: 10px;
  border-color: #d8e2dc;
}
